# standard ignore
*config*
*conf*
LICENSE
NOTICE

.github/
.gitignore
.eslintrc
.stylelintrc

coverage/
docs/
scripts/
test/
apiExamples/
docTemplates/
demo/**/*.css
demo/**/*.scss
demo/**/*.html

dist/auro-*.js
dist/*-css.js
dist/baseIcon.js
dist/cacheFetch.js
!dist/auro-*__bundled.js

# ignore src styles
src/**/*.scss
src/**/*.css
